* {
    box-sizing: border-box;
}
body{
   text-align: center;
   background-color: rgb(187, 187, 187);
}
table{
   margin: auto;
}
.cell{
   border: 2px solid rgb(75, 75, 75);
   width: 28px;
   height: 28px;
}
.hidden{
   font-size: 0px;
   background-color: gray;
}
.smiley-button{
    background-color: rgb(253, 253, 253);
    padding: 3px;
    margin: 10px;
    border-radius: 5px;
}
.flag{
   font-size: 15px;
}
footer{
   margin: 20px;
}
/* .hint{
} */